{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Numbers</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/datables/datatables.min.css">
<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/datables/datatables.js"></script>

<!-- selectize CSS -->
<link rel="stylesheet" href="/static/css/selectize.css"/>
<!--selectize JS -->
<script type="text/javascript" src="/static/js/selectize.js"></script>
<body>
<script type="text/javascript">
        $(document).ready(function() {
                $(".users").selectize( {
                });
            });
        $(document).ready(function() {
				$('#tabela').dataTable({

                });
			} );
		</script>
<br/>
<p><a href="{% url 'dashboard:dashboard' %}" type="button" class="btn btn-outline-primary">Dashboard</a></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tabela">
	<thead>
		<tr>
			<th>Shortsign</th>
			<th>personal number</th>
        </tr>
	</thead>
	<tbody>
    {% for n in pers_numbers %}
		<tr>
            <td>{{ n.user.username }}
                <a href="{% url 'core:edit_pers_numbers' n.id %}"><i class="fa fa-edit"></i></a>
            </td>
            <td>{{ n.pers_number }}</td>
		</tr>
    {% endfor %}
</table>
<div class="col-md-4 column">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <p>
        <label for="id_user">user:</label>
            <select id="id_user" name="user" class="users">
                <option>---</option>
                {% for n in diff %}
                <option value="{{ n.id }}">{{ n.username }}</option>
                {% endfor %}
        </select>
    </p>
    <p>
        <label for="id_pers_number">personal number:</label>
        <input id="id_pers_number" maxlength="150" name="pers_number" type="text" class="form-control">
    </p>
        <p><input class="btn btn-success" type="submit" value="Save"></p>
    </form>

    </div>
</body>
</html>
{% endblock %}
