*.pyc

/site_media/
/*/migrations/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/

.python-version

/hr_working_hours/migrations/
/hr_working_hours/reports/*
/instructions/migrations/
/dashboard/migrations/
/core/migrations/
/canteen/migrations/
.idea/.name
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/django3_apps.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
/django3_apps/settings.py
