{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>usuń potrawę</title>
</head>


<body>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

    var list;
    list = document.querySelectorAll("input[name*='name'], input[name*='price']");
    for (var i = 0; i < list.length; ++i) {
        list[i].classList.add('form-control');
    }

});

</script>
<form action="{% url 'canteen:dishes_delete' dish.id %}" enctype="multipart/form-data" method="post" class="upload">
    {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">delete dish</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
           <div class="modal-footer">
        <button class="btn btn-danger" type="submit">delete</button>
        <a href="{% url 'canteen:dishes_all' %}" type="button" class="btn btn-default">cancel</a>
    </div>
      </div>
</form>

</body>
</html>
{% endblock %}
