{% extends "base/base.html" %}
{% load static %}
{% block content %}
<html>
<head>
    <title>Order</title>
</head>
    <body>
<link rel="stylesheet" type="text/css" href="/static/datables/datatables.min.css">
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/datables/datatables.js"></script>

<!-- selectize CSS -->
<link rel="stylesheet" href="/static/css/selectize.css"/>
<!--selectize JS -->
<script type="text/javascript" src="/static/js/selectize.js"></script>

<!-- dynamic-formset -->
<script src="/static/js/dynamic-formset.js"></script>

<!-- touchspin -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.bootstrap-touchspin.min.css">
<script src="/static/js/jquery.bootstrap-touchspin.js"></script>
<script src="/static/js/calculations.js" async></script>


<script>
    $(document).ready(function(){
    var list;
    list = document.querySelectorAll("select[name*='-product'], label[for*='-product'], input[name*='-quantity']," +
        "label[for='date'], input[name='date']");
    for (var i = 0; i < list.length; ++i) {
        list[i].classList.add('form-control');
    }
    var user;
    user = document.querySelectorAll("select[name*='user'], label[for*='user'], input[name*='complete'], label[for*='complete']");
    for (var x = 0; x < user.length; ++x) {
        user[x].setAttribute("hidden", true)
    }
    $('#id_date').attr('readonly', true);
    document.getElementById('id_user').value = {{ ordering_user.id }};
    });
    $(".product").selectize({});
</script>
<div>

    <div class="entry">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3 col-lg-2">
            {{ form.as_p }}
        </div>
            <h2>Choose your meal:</h2>
            <table id="id_orders_table">
                <thead>
                    <tr style="text-align: center">
                        <th>dish</th>
                        <th>quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset.forms %}
                    <tr id="{{ form.prefix }}-row">
                        <td>
                            {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            {{ form.product }}
                        </td>
                        <td>
                            <input id="{{ form.prefix }}-quantity" name="{{ form.prefix }}-quantity" type="text" value="{{ form.quantity.value }}" class="form-control" required>
                        </td>
                    <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                {{ formset.management_form }}
                {{ formset.management_form.errors }}
            <div>{{ consentText }} {{ consentForm.as_p }}</div>
        <br/>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <input class="btn btn-primary" id="saveButton" type="submit" value="save" hidden/>
            </p>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#id_orders_table').find('tbody tr').formset({
            prefix: 'orderitems_set'
        })
    })
</script>
<script>
    $(function() {
        $( "input[name*='-quantity']" ).TouchSpin({
            min: 1,
            max: 10,
            step: 1,
            decimals:0
        });
    });
</script>
<script>
    $(function(){
        $("select").attr('required', true);
    });
    function showButton() {
        if ($("input[id='saveButton']").is(':hidden')) {
            document.getElementById("saveButton").removeAttribute("hidden")
        }
        else {
            document.getElementById("saveButton").setAttribute("hidden", true)
        }
    }
    $(document).ready(function () {
        var answer = "{{ consentAnswer }}";
        var tick = document.getElementById("id_answer");
        tick.setAttribute("onClick", "showButton()");
        if (answer.toString() === "True") {
            tick.checked = 'checked';
            document.getElementById("saveButton").removeAttribute("hidden")
        }
        if (answer.toString() === "False") {
            tick.checked = '';
            document.getElementById("saveButton").setAttribute("hidden", true)
        }
    });

    document.getElementById("id_date").previousElementSibling.innerHTML = "date: ";
    document.getElementById("id_answer").previousElementSibling.innerHTML = "confirm"
</script>
<div class="row">
<div class="input-group mb-3 col-lg-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">total cost:</span>
      </div>
      <div type="text" id="result" aria-describedby="basic-addon1" class="form-control"></div>
</div>
<div class="input-group mb-3 col-lg-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">your cost:</span>
      </div>
      <div type="text" id="your_price" aria-describedby="basic-addon1" class="form-control"></div>
</div>
</div>

</body>
</html>
{% endblock %}
