{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    {% load reports_filters %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Report for a company for a give period</title>
</head>
<body>

<!-- datatables CSS -->
<link rel="stylesheet" type="text/css" href="/static/datables/datatables.min.css">

<!-- datatables JS -->
<script type="text/javascript" src="/static/datables/datatables.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>

<!-- selectize CSS -->
<link rel="stylesheet" href="/static/css/selectize.css"/>
<!--selectize JS -->
<script type="text/javascript" src="/static/js/selectize.js"></script>

<!-- datetimepicker CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css">
<!-- datetimepicker JS -->
<script src="/static/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#report').dataTable({
        });
    } );
</script>

<br/>
<p>
<a type="button" class="btn btn-primary" href="{% url 'canteen:report_from_to_csv' from_date to_date company %}">
    <i class="fas fa-file-csv"></i>
    save to csv
</a>
</p>
<table class="table table-striped table-bordered" id="report">
	<thead>
		<tr>
            <th>date</th>
            <th>client</th>
            <th>name & lastname</th>
            <th>personal number</th>
			<th>discount cost</th>
			<th>cient's cost</th>
            <th>company</th>
  		</tr>
	</thead>
	<tbody>
		{% for n in per_company %}
            <tr>
            <td>{{ n.order__date }}</td>
            <td>{{ n.order__user_id|user_name }}</td>
            <td>{{ n.order__user_id|first_name }} {{ n.order__user_id|last_name }}</td>
            <td>{{ n.order__user_id|find_pers_number }}</td>
            <td>{{ n.company_cost|floatformat:2 }}</td>
            <td>{{ n.user_cost|floatformat:2 }}</td>
            <td>{{ n.order__user_id|comp_name }}</td>
            </tr>
		{% endfor %}
	</tbody>

</table>
<br>
<p>total cost in the period for
    {% for n in report %}
            {% if forloop.last %}
                {{ n.order.user.usercompanycard.company }}
            {% endif %}
    {% endfor %}: {% for n in company_monthly.values %}{{ n|floatformat:2 }}{% endfor %}
</p>
    <a type="button" class="btn btn-secondary" href="{% url 'canteen:stolowka_reports' %}">back</a>

</body>
</html>
{% endblock %}
