<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5;url={% url 'menu_touch' %}" />
    <title>Za późno</title>
    <link rel="stylesheet" href="/static/stolowka/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stolowka/css/Google-Style-Login.css">
</head>

<body>
    <div class="login-card"><img src="/static/stolowka/img/avatar_2x.png" class="profile-img-card">
        <p class="profile-name-card"> </p>
        <div style="text-align: center;">
            <H2><span class="label label-danger">Za późno</span></H2>
            <p>Zamówienia na obecny dzień można składać, edytować bądź anulować przed godziną 9.30</p>
        </div>
    </div>
    <script src="/static/stolowka/js/jquery.min.js"></script>
    <script src="/static/stolowka/js/bootstrap.min.js"></script>
</body>

</html>