{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hell's kitchen</title>
</head>
<body>
<br/>
<p>
<p>
    {% if perms.canteen.add_menu %}
    <a href="{% url 'canteen:menu_all' %}" class="btn btn-outline-primary" role="button">Menu</a>
    {% endif %}
</p>
<p>
    {% if perms.canteen.add_company %}
    <a href="{% url 'canteen:companies' %}" class="btn btn-primary" role="button">companies</a>
    {% endif %}
</p>
<p>
    {% if perms.canteen.add_product %}
    <a href="{% url 'canteen:dishes_all' %}" class="btn btn-primary" role="button">dishes</a>
    {% endif %}
</p>
<p>
    {% if perms.canteen.draw_report %}
    <a href="{% url 'canteen:canteen_reports' %}" class="btn btn-primary" role="button">reports</a>
    {% endif %}
</p>
</body>
</html>
{% endblock %}
