{% load static %}
{% block content %}
<html>
 <!-- jQuery -->
<script type="text/javascript" charset="utf8" src="/static/js/jquery-3.4.1.min.js"></script>
<!-- selectize CSS -->
<link rel="stylesheet" href="/static/css/selectize.css"/>
<!--selectize JS -->
<script language="JavaScript" type="text/javascript" src="/static/js/selectize.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Assign the device</title>
</head>

<body>
<form enctype="multipart/form-data" method=POST action="{% url 'hardware:assign_device_modal' device_id=device %}" class="upload">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign the device</h5>
                </div>
                <div class="modal-body" style="margin: 10px;">
                    {% csrf_token %}
                    {{form.as_p}}
                </div>
                <div class="modal-footer">
                    <button type="submit">Save</button>
                </div>
            </div>
    </div>
</form>
</body>
{% endblock %}