{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/datables/datatables.min.css">
		<script type="text/javascript" language="javascript" src="/static/js/bootstrap.js.map"></script>
		<script type="text/javascript" language="javascript" src="/static/datables/datatables.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#events').dataTable();
			} );
		</script>
		<script>
        $(document).ready(function() {
            $('body').on('click', '[data-toggle="modal"]', function () {
                $($(this).data("target") + ' .modal-dialog').load($(this).data("remote"));
            });
        });
    </script>
		{% comment %} <!-- jQuery -->
		<script type="text/javascript" charset="utf8" src="/static/js/jquery-3.4.1.min.js"></script> {% endcomment %}
		<!-- selectize CSS -->
		<link rel="stylesheet" href="/static/css/selectize.css"/>
		<!--selectize JS -->
		<script type="text/javascript" src="/static/js/selectize.js"></script>
</head>
<body>
<div style="margin: 9px">
	<a href="{% url 'hardware:search_devices' %}" type="button" class="btn btn-primary">
        <i class="fas fa-server"></i> Devices</a>
	<a data-remote="{% url 'hardware:add_event_modal' %}"
		data-toggle="modal", data-target="#edit_event_modal" type="button"
		class="btn btn-primary"><i class="fas fa-plus"></i> New event</a>
</div>
<table cellpadding="0" cellspacing="0" border="0"
	class="table table-striped table-bordered table-hovered" id="events">
	<thead>
		<tr>
			<th>action</th>
			<th>edit</th>
		</tr>
	</thead>
	<tbody>
	{% for n in events %}
		<tr>
			<td>{{n.action}}</td>
			<td>
				<a data-remote="{% url 'hardware:edit_event_modal' event_id=n.id %}"
					data-toggle="modal", data-target="#edit_event_modal">
				<span class="fa fa-edit"></span>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<div id="edit_event_modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        </div>
    </div>
</body>
</html>
{% endblock %}