{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/datables/datatables.min.css">
		<script type="text/javascript" language="javascript" src="/static/js/bootstrap.js.map"></script>
		<script type="text/javascript" language="javascript" src="/static/datables/datatables.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#devices').dataTable();
			} );
		</script>
		{% comment %} <!-- jQuery -->
		<script type="text/javascript" charset="utf8" src="/static/js/jquery-3.4.1.min.js"></script> {% endcomment %}
		<!-- selectize CSS -->
		<link rel="stylesheet" href="/static/css/selectize.css"/>
		<!--selectize JS -->
		<script type="text/javascript" src="/static/js/selectize.js"></script>
</head>
<body>
<div style="margin: 9px">
<a href="{% url 'hardware:add_device' %}" type="button" class="btn btn-primary"><i class="fas fa-server"></i> New Device</a>
<a href="{% url 'hardware:categories_all' %}" type="button" class="btn btn-primary"><i class="fas fa-shapes"></i> Categories</a>
<a href="{% url 'hardware:events_all' %}" type="button" class="btn btn-primary"><i class="fas fa-book"></i> Events</a>
</div>
<div class="col-sm-5">
<form style="margin: 9px" method=POST action="{% url 'hardware:search_devices' %}">
{% csrf_token %}
{{searchForm.as_p}}
<button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i> Search</button>

</form>
</div>
{% if searched %}
		<h5 style="margin: 9px">Results for:
			<ul class="list-inline">
			{% for v in searched.values %}
				{% if v %}
					<li class="list-inline-item">{{v}}</li>
				{% endif %}
			{%endfor%}
			</ul>
		</h5>
		<br/>
<table cellpadding="0" cellspacing="0" border="0"
	class="table table-striped table-bordered table-hovered" id="devices">
	<thead>
		<tr>
			<th>hostname</th>
			<th>description</th>
			<th>user</th>
			<th>category</th>
			<th>status</th>
		</tr>
	</thead>
	<tbody>
	{% for n in query %}
		<tr>
			<td><a href="{% url 'hardware:edit_device' pk=n.id %}">
                    <span class="fa fa-edit"></span>
                </a>{{n.hostname}}</td>
			<td>{{n.description}}</td>
			<td>{{n.history_set.last.owner|default_if_none:""}}</td>
			<td>{{n.category}}</td>
			<td>{{ n.history_set.last.event }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
		<h5>Search for your devices</h5>
{% endif %}

<script type="text/javascript">
        $(document).ready(function() {
                $("#id_category, #id_event").selectize( {
                });
                var list = document.querySelectorAll("input");
                for (var i=0; i < list.length; i++) {
                    list[i].classList.add('form-control')
                }
            });
</script>
</body>
</html>
{% endblock %}
